/* Contenedor principal de la página de login */
.login-container {
  height: 100vh; /* Ocupa toda la altura del viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Fondo claro */
  overflow: hidden; /* Evita el desplazamiento */
}

/* Caja del formulario */
.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  max-width: 400px;
  width: 100%; /* Adaptativo */
  text-align: center;
}

/* Logo */
.logo {
  width: 150px; /* Ajusta el tamaño del logo */
  margin-bottom: 20px; /* Espacio debajo del logo */
}

/* Estilo adicional para los componentes de MUI */
.MuiTextField-root {
  margin-bottom: 16px; /* Espaciado entre campos */
}

.MuiButton-root {
  margin-top: 20px; /* Espaciado superior */
  width: 100%; /* Botón expandido */
}

.additional-links {
  margin-top: 20px;
  font-size: 0.9rem;
}

.additional-links a {
  color: #007bff;
  text-decoration: none;
}

.additional-links a:hover {
  text-decoration: underline;
}

  